/*
#  ·················
#  ··_______________
#  ·/·___/·___/·___/
#  /·/__(__··|__··)·
#  \___/____/____/··
#  ·················
*/
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
/*------ Variables */
:root{
  /*------ Colores */
  --green-color: #7397cc;
  --black-color: #313337;
  --white-color: white;
  /*------ Tipografía */
  --normal:12px;
  /*------ Espaciado */
  --space:10px;
  --space-2:20px;
  /*------ Box shadow*/
  --box:0px 0 2px 1px #e6e5e9;
}

/* -------------------------------------------  */
body{
  margin:0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  color: var(--black-color);
  background-color: #e6e5e9;
}

p, label{
  font-size: var(--normal);
}

hr{
  opacity: .2;
}

/* ------------------------------------------- MAIN SECTION */

.main_section{
  background-image: url("../images/books-reading-library.jpg");
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-filter: brightness(50%); /* Safari 6.0 - 9.0 */
  filter: brightness(50%);
  position: relative;
  height: 600px;
  z-index: -1;
}

/* -------------------------------------------  SEARCH BAR */


.title_box {
  padding: 15%;
  height: auto;
  position: absolute; left: 15%; top: 150px;
}

.text_title {
  font-size: 72px;
  color: white;
  alignment: center;
}

.text_subtitle {
  font-size: large;
  color: white;
  text-align: center;

}

.search{

  padding-top: 180px;
  padding-left: 5%;
  margin-top: -226px;
  align-items: center;
}

.image-product{
  text-align: center;
}

.searchbox{
  padding: 20px;
  background: var(--white-color);
  border-radius: 3px;
  box-shadow: 0px 0 2px 1px #e6e5e9;
  display: flex;
  width: auto;
  margin-right: 60px;

}

.main_btn{
  padding: var(--space);
  background-color: var(--green-color);
  width: 90px;
  border: 0px;
  border-radius: 2px;
  cursor: pointer;
  color: var(--white-color);
  margin-left: 10px;
}
.main_btn:hover{
  background-color: #5988a4;
}

.input_text {
  padding: var(--space);
  width: 100%;
  border: #313337 2px;
  border-radius: 2px;

}

.content {
  padding: 20px;
  background: var(--white-color);
  border-radius: 3px;
  box-shadow: 0px 0 2px 1px #e6e5e9;
  display: flex;
  width: auto;
  margin-right: 60px;

}

/* -------------------------------------------  BOOKS */
.books{
  padding: 5%;
  column-count: 3;
  column-gap: 1.8%;
}
.book img{
  width: 100%;
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid; /* IE 10+ */
}
h2.book_title{
  text-align: center;
  width: 100%;
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid; /* IE 10+ */
}
.book{
  padding: 7px;
  width: 100%;
  margin-bottom: 10px;
  background-color: aliceblue;
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid; /* IE 10+ */
  box-shadow: 0px 0 2px 1px #e6e5e9;
}
.content_book{
  width: 100%;
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid; /* IE 10+ */
}
.book .text{
  padding: var(--space);
  width: 100%;
  -webkit-column-break-inside: avoid; /* Chrome, Safari, Opera */
  page-break-inside: avoid; /* Firefox */
  break-inside: avoid; /* IE 10+ */
}

.letra {
  font-family: 'Open Sans', sans-serif;
  font-size: 9px;
  color: #313337;
}

/* ------------------------------------------- FOOTER */
footer{
  display: flex;
  justify-content: space-between;
  font-size: var(--normal);
  background-color: var(--black-color);
  padding: var(--space);
  color: #9c9c9c;
}

.h5footbox {
  margin-left: 50px;
}

